:root{
  --color-primario: rgb(28,0,34);
  --line-style: 10px solid var(--color-primario);
}
dialog{
  text-align: center;
  min-width: 50vw;
  font-family: 'Franklin Gothic Medium';
  background-color: rgba(240,248,255,0.73);
  padding: 5rem;
  border: unset;
  border-radius: 10px;
}
dialog button{
  padding: 1rem;
  font-size: large;
}
dialog::backdrop{
  backdrop-filter: blur(3px);

}
body{
  /*esta propiedad no permite que se selecione los elementos letra*/
  background-color: rgb(214,214,214);
  user-select: none;
}
h1{
  text-align: center;
  font-size: 4rem;
  font-family: 'Franklin Gothic Medium';
  color: var(--color-primario);
}
#contenedorGrilla{
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  justify-content: center;
}
.cuadrado{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  font-size: 8rem;
  font-weight: bold;
  color: var(--color-primario);
}
.medio{
  border-left: var(--line-style);
  border-right: var(--line-style);
}
.arriba{
  border-bottom: var(--line-style);
}
.abajo{
  border-top: var(--line-style);
}
.ganador{
  background-color: rgb(79,122,79);
}